In [1]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper
from sklearn.impute import SimpleImputer

In [2]:
data=pd.read_csv('../mpg_data_example.csv')

In [3]:
data = data.drop('origin',axis=1)
data['model_year']=data['model year']

In [4]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,model_year
0,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu,70
1,15.0,8,350.0,165.0,3693,11.5,70,buick skylark 320,70
2,18.0,8,318.0,150.0,3436,11.0,70,plymouth satellite,70
3,16.0,8,304.0,150.0,3433,12.0,70,amc rebel sst,70
4,17.0,8,302.0,140.0,3449,10.5,70,ford torino,70

In [5]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
car name        0
model_year      0
dtype: int64

In [9]:
mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','model_year'], preprocessing.StandardScaler()),
                        (['horsepower'],SimpleImputer())
                        ])

In [10]:
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [11]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'car name', 'model_year'],
      dtype='object')

In [12]:
X=['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year']
Y=['mpg']

In [13]:
pipeline_obj.fit(data[X],data[Y])

C:\Users\admin\anaconda3\lib\site-packages\sklearn\pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model_year'],
                                            StandardScaler()),
                                           (['horsepower'], SimpleImputer())])),
                ('model', RandomForestRegressor())])

In [14]:
pipeline_obj.predict(data[X])

array([16.94 , 14.83 , 17.15 , 16.301, 16.891, 14.64 , 13.91 , 14.18 ,
       13.44 , 14.65 , 14.95 , 14.31 , 15.08 , 14.786, 23.988, 21.594,
       19.335, 21.318, 27.05 , 26.816, 24.516, 24.146, 24.729, 24.845,
       21.112, 10.41 , 10.81 , 11.57 ,  9.63 , 27.09 , 26.485, 25.059,
       26.215, 19.299, 16.672, 17.3  , 18.49 , 18.125, 14.135, 13.8  ,
       14.265, 14.48 , 12.22 , 12.9  , 12.59 , 18.305, 22.235, 18.681,
       18.295, 23.82 , 26.85 , 29.94 , 29.115, 31.491, 33.78 , 28.09 ,
       27.288, 24.572, 25.74 , 23.72 , 20.54 , 22.31 , 13.455, 13.61 ,
       14.67 , 14.03 , 16.23 , 11.81 , 12.83 , 12.34 , 13.015, 20.565,
       14.895, 13.81 , 13.637, 14.08 , 19.197, 22.56 , 20.984, 26.225,
       22.715, 26.44 , 22.855, 27.115, 26.53 , 13.255, 14.76 , 13.425,
       14.12 , 14.58 , 12.09 , 13.175, 13.21 , 14.09 , 12.64 , 12.17 ,
       13.28 , 18.392, 16.495, 18.17 , 18.182, 22.07 , 26.586, 11.61 ,
       12.19 , 12.8  , 12.325, 18.603, 22.21 , 21.485, 22.78 , 21.735,
       20.135, 21.023, 25.95 , 14.365, 14.85 , 29.539, 24.865, 21.29 ,
       19.911, 15.278, 22.687, 20.096, 12.18 , 20.403, 20.528, 19.19 ,
       16.073, 30.94 , 25.52 , 31.045, 24.913, 15.945, 15.99 , 17.787,
       15.495, 13.41 , 14.015, 13.64 , 13.975, 27.84 , 27.83 , 26.52 ,
       31.29 , 31.535, 27.15 , 25.614, 26.016, 23.909, 25.47 , 30.355,
       19.305, 17.971, 15.709, 16.123, 15.26 , 14.75 , 15.32 , 14.305,
       17.196, 16.095, 15.618, 17.706, 20.321, 19.868, 15.016, 28.24 ,
       23.763, 19.67 , 22.951, 24.109, 25.691, 23.962, 18.892, 29.13 ,
       18.899, 23.328, 22.691, 21.592, 24.273, 32.35 , 26.731, 25.   ,
       24.773, 26.009, 27.62 , 16.65 , 15.77 , 16.063, 14.805, 21.271,
       20.858, 22.746, 21.533, 29.354, 25.879, 29.302, 32.591, 19.507,
       18.125, 18.432, 18.514, 29.325, 31.47 , 27.94 , 26.027, 20.392,
       13.75 , 20.447, 19.458, 17.007, 15.42 , 14.055, 13.74 , 13.645,
       31.016, 29.78 , 34.049, 25.519, 32.76 , 16.611, 17.326, 15.686,
       15.207, 18.017, 20.382, 19.203, 18.267, 15.84 , 15.594, 15.579,
       15.637, 29.647, 24.768, 26.285, 25.011, 30.699, 31.804, 30.462,
       29.828, 21.751, 22.699, 22.131, 41.19 , 35.108, 35.625, 37.476,
       35.553, 19.85 , 18.843, 19.444, 18.96 , 20.326, 20.629, 25.182,
       20.249, 19.765, 20.548, 20.884, 18.759, 18.761, 19.079, 18.082,
       18.621, 17.385, 30.554, 25.68 , 26.579, 29.661, 22.811, 23.345,
       23.333, 24.42 , 21.017, 17.64 , 22.024, 16.971, 32.134, 30.988,
       21.269, 20.849, 23.567, 20.473, 20.607, 17.424, 17.897, 17.41 ,
       17.774, 16.639, 16.113, 19.872, 17.707, 34.427, 33.737, 35.83 ,
       28.575, 25.354, 22.081, 27.381, 22.541, 34.362, 34.355, 33.943,
       36.767, 27.685, 27.9  , 26.041, 31.466, 39.039, 37.49 , 33.34 ,
       37.058, 28.027, 25.919, 25.094, 20.273, 35.093, 29.377, 31.395,
       35.345, 32.775, 43.312, 26.709, 41.372, 43.064, 41.842, 33.687,
       30.346, 40.786, 38.356, 35.001, 32.796, 29.23 , 28.578, 33.461,
       24.091, 32.692, 28.51 , 27.206, 26.5  , 24.656, 31.126, 37.973,
       37.787, 35.51 , 33.284, 36.7  , 36.98 , 34.283, 34.633, 34.427,
       31.744, 33.614, 33.816, 33.957, 32.616, 30.745, 30.642, 27.614,
       28.949, 26.018, 24.831, 22.204, 25.129, 20.811, 19.697, 28.814,
       28.109, 33.262, 30.366, 28.915, 27.269, 24.974, 23.802, 35.79 ,
       36.431, 33.07 , 37.439, 35.317, 35.734, 35.491, 33.762, 36.261,
       33.415, 36.483, 25.604, 32.162, 26.674, 25.208, 29.851, 33.938,
       26.341, 27.197, 41.448, 32.546, 28.628, 30.067])

In [15]:
# from sklearn.externals import joblib
from joblib import dump
import joblib

In [16]:
dump(pipeline_obj,'ML_model.joblib')

['ML_model.joblib']

In [17]:
modelReload=joblib.load('ML_model.joblib')

In [18]:
data[X]

     cylinders  displacement  horsepower  weight  acceleration  model_year
0            8         307.0       130.0    3504          12.0          70
1            8         350.0       165.0    3693          11.5          70
2            8         318.0       150.0    3436          11.0          70
3            8         304.0       150.0    3433          12.0          70
4            8         302.0       140.0    3449          10.5          70
..         ...           ...         ...     ...           ...         ...
393          4         140.0        86.0    2790          15.6          82
394          4          97.0        52.0    2130          24.6          82
395          4         135.0        84.0    2295          11.6          82
396          4         120.0        79.0    2625          18.6          82
397          4         119.0        82.0    2720          19.4          82

[398 rows x 6 columns]

In [19]:
modelReload.predict(data[X])

array([16.94 , 14.83 , 17.15 , 16.301, 16.891, 14.64 , 13.91 , 14.18 ,
       13.44 , 14.65 , 14.95 , 14.31 , 15.08 , 14.786, 23.988, 21.594,
       19.335, 21.318, 27.05 , 26.816, 24.516, 24.146, 24.729, 24.845,
       21.112, 10.41 , 10.81 , 11.57 ,  9.63 , 27.09 , 26.485, 25.059,
       26.215, 19.299, 16.672, 17.3  , 18.49 , 18.125, 14.135, 13.8  ,
       14.265, 14.48 , 12.22 , 12.9  , 12.59 , 18.305, 22.235, 18.681,
       18.295, 23.82 , 26.85 , 29.94 , 29.115, 31.491, 33.78 , 28.09 ,
       27.288, 24.572, 25.74 , 23.72 , 20.54 , 22.31 , 13.455, 13.61 ,
       14.67 , 14.03 , 16.23 , 11.81 , 12.83 , 12.34 , 13.015, 20.565,
       14.895, 13.81 , 13.637, 14.08 , 19.197, 22.56 , 20.984, 26.225,
       22.715, 26.44 , 22.855, 27.115, 26.53 , 13.255, 14.76 , 13.425,
       14.12 , 14.58 , 12.09 , 13.175, 13.21 , 14.09 , 12.64 , 12.17 ,
       13.28 , 18.392, 16.495, 18.17 , 18.182, 22.07 , 26.586, 11.61 ,
       12.19 , 12.8  , 12.325, 18.603, 22.21 , 21.485, 22.78 , 21.735,
       20.135, 21.023, 25.95 , 14.365, 14.85 , 29.539, 24.865, 21.29 ,
       19.911, 15.278, 22.687, 20.096, 12.18 , 20.403, 20.528, 19.19 ,
       16.073, 30.94 , 25.52 , 31.045, 24.913, 15.945, 15.99 , 17.787,
       15.495, 13.41 , 14.015, 13.64 , 13.975, 27.84 , 27.83 , 26.52 ,
       31.29 , 31.535, 27.15 , 25.614, 26.016, 23.909, 25.47 , 30.355,
       19.305, 17.971, 15.709, 16.123, 15.26 , 14.75 , 15.32 , 14.305,
       17.196, 16.095, 15.618, 17.706, 20.321, 19.868, 15.016, 28.24 ,
       23.763, 19.67 , 22.951, 24.109, 25.691, 23.962, 18.892, 29.13 ,
       18.899, 23.328, 22.691, 21.592, 24.273, 32.35 , 26.731, 25.   ,
       24.773, 26.009, 27.62 , 16.65 , 15.77 , 16.063, 14.805, 21.271,
       20.858, 22.746, 21.533, 29.354, 25.879, 29.302, 32.591, 19.507,
       18.125, 18.432, 18.514, 29.325, 31.47 , 27.94 , 26.027, 20.392,
       13.75 , 20.447, 19.458, 17.007, 15.42 , 14.055, 13.74 , 13.645,
       31.016, 29.78 , 34.049, 25.519, 32.76 , 16.611, 17.326, 15.686,
       15.207, 18.017, 20.382, 19.203, 18.267, 15.84 , 15.594, 15.579,
       15.637, 29.647, 24.768, 26.285, 25.011, 30.699, 31.804, 30.462,
       29.828, 21.751, 22.699, 22.131, 41.19 , 35.108, 35.625, 37.476,
       35.553, 19.85 , 18.843, 19.444, 18.96 , 20.326, 20.629, 25.182,
       20.249, 19.765, 20.548, 20.884, 18.759, 18.761, 19.079, 18.082,
       18.621, 17.385, 30.554, 25.68 , 26.579, 29.661, 22.811, 23.345,
       23.333, 24.42 , 21.017, 17.64 , 22.024, 16.971, 32.134, 30.988,
       21.269, 20.849, 23.567, 20.473, 20.607, 17.424, 17.897, 17.41 ,
       17.774, 16.639, 16.113, 19.872, 17.707, 34.427, 33.737, 35.83 ,
       28.575, 25.354, 22.081, 27.381, 22.541, 34.362, 34.355, 33.943,
       36.767, 27.685, 27.9  , 26.041, 31.466, 39.039, 37.49 , 33.34 ,
       37.058, 28.027, 25.919, 25.094, 20.273, 35.093, 29.377, 31.395,
       35.345, 32.775, 43.312, 26.709, 41.372, 43.064, 41.842, 33.687,
       30.346, 40.786, 38.356, 35.001, 32.796, 29.23 , 28.578, 33.461,
       24.091, 32.692, 28.51 , 27.206, 26.5  , 24.656, 31.126, 37.973,
       37.787, 35.51 , 33.284, 36.7  , 36.98 , 34.283, 34.633, 34.427,
       31.744, 33.614, 33.816, 33.957, 32.616, 30.745, 30.642, 27.614,
       28.949, 26.018, 24.831, 22.204, 25.129, 20.811, 19.697, 28.814,
       28.109, 33.262, 30.366, 28.915, 27.269, 24.974, 23.802, 35.79 ,
       36.431, 33.07 , 37.439, 35.317, 35.734, 35.491, 33.762, 36.261,
       33.415, 36.483, 25.604, 32.162, 26.674, 25.208, 29.851, 33.938,
       26.341, 27.197, 41.448, 32.546, 28.628, 30.067])

In [20]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model_year']=6

In [21]:
testDtaa=pd.DataFrame({'x':temp}).transpose()

In [22]:
testDtaa

   acceleration  cylinders  displacement  horsepower  model_year  weight
x             5          1             2           3           6       4

In [23]:
modelReload.predict(testDtaa)[0]

29.916999999999998